* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* font-size: 1rem; */

}

/* Top Bar  */

.topbar {
    /* background-color: blue; */
    width: 99vw;
    height: 40px;
    display: block;
}

.frow {
    background-color: #edf1ff;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #6f6f6f;
    justify-content: space-between;
}

.fr-left-box {
    /* background-color: yellow; */
    width: 50%;
    font-weight: 400;

}

.fr-left-box .leftlink {

    color: #6f6f6f;
    margin: 2px 15px 5px;
    /* margin-left: 25px; */
}

.fr-left-box .leftlink a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 16px;
    padding: 5px;
}

.fr-right-box {
    /* background-color: blueviolet; */
    width: 50%;
    justify-content: end;
}

span {
    font-size: 900;
}

.rightlink {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25px;
    color: #1c1c1c;
    padding-left: 12px;
    font-size: 20px;
}

.rightlink i {
    padding: 5px;
}

.sp1 {
    color: #D19C97;
    width: 40px;
    margin-left: 15px;
    border: 1px solid #dddddd;
    padding: 5px 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: white;

}

.b {
    color: darkgrey;
}

.srow {
    /* background-color: aquamarine; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.srow-left {
    /* border: 1px solid black; */
    /* background-color: bisque; */
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.srow-center {
    /* background-color: rgb(166, 99, 17); */
    width: 930px;
}

.color-primary {
    color: #D19C97;
}

.btn {
    height: 40px;
    width: 50px;
    background: white;
    box-sizing: content-box;
}

.srow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-right: 25px;
}

.srow-left h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.searchbox {
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid #dddddd; */
    border-radius: 20px;
}

.searchbar {
    height: 50%;
    margin: 5px;
    font-size: 16px;
    width: 90%;

    border: 1px solid #c3c2c28b;
    border-radius: 10px;

}

.search_btn {
    width: 5%;
    border-radius: 2px;
    text-align: center;
    height: 50%;
    font-size: 1rem;
    /* border: 1px solid black; */
    /* background-color: #f50000; */
    color: #D19C97;
}

/* Over TopBar  */

/* Section  */
.section{
    background-color: aquamarine;
    height: 724px;
    /* border: 2px solid black; */
    width: 95%;
    display: flex;
    flex-direction: column;
   margin-left: 25px;
   font-size: large;

}
.ns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ns span{
    margin-top: 5px;
    margin-right: 10px;
}

.section_left h6{
    margin-top: 24px;
    justify-content:  baseline;
    font-weight:400;
    font-size: 18px;
    margin-left: 1px;
}